.hover-button {
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.hover-button::before,
.hover-button::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #080d42;
    display: block;
    transition: 0.5s;
    position: absolute;
    bottom: -2px;
}

.hover-button::before {
    left: 0;
}

.hover-button::after {
    right: 0;
}

.hover-button:hover::before,
.hover-button:hover::after {
    width: 100%;
}
