body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#TopbarStar {
    background-color: #172230;
}

nav .navbar {
    background-image: linear-gradient(80deg, #1d476f, #5786a7);
    background-size: 100%;
}

#navegacion:hover {
    background-color: #2381b4;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
}

#FondoArticle {
    border-radius: 20px;
    background-color: #ffffff;
}


#nombrePrimaria{
    display: inline-block;
    animation: encender-apagar 2s infinite;
    opacity: 0;
}

@keyframes encender-apagar {
    0%, 100% {
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
}

#articleBoton:hover {
    background-color: rgb(3, 84, 84);
    color: black;
}

#articleBoton {
    background-color: rgb(22, 71, 195);
    color: white;
}

.service {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    -webkit-transition: opacity 0.5s ease, transform 0.5s ease;
    -moz-transition: opacity 0.5s ease, transform 0.5s ease;
    -ms-transition: opacity 0.5s ease, transform 0.5s ease;
    -o-transition: opacity 0.5s ease, transform 0.5s ease;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
}

.service.is-visible {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}


#admin {
    background-color: darkseagreen;
}